* {
    box-sizing: border-box;
    --bg-colour :#489183;
    --container-colour :#ECEAE0;
    --accent-colour :#E9633B;
    --accent-colour2 :#a4bdb9;
    --dark :#221E1D;
}

.App {
    /* text-align: center; */
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--bg-colour);
    font-size: 16px;
}

p, label, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    color: var(--dark);
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--container-colour);
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 50px;
}

.grid-item input {
    width: 100%; /* Input boxes fill the entire width of the grid cell */
    height: 100%; /* Input boxes fill the entire height of the grid cell */
    box-sizing: border-box; /* Includes padding and border in the width and height */
    align-self: center;
    justify-self: center;
  }

input {
    max-width: 100%;
    border-width: 5px;
    border-color: transparent;
    border-radius: 6px;
    background-color: var(--accent-colour2);
    }

button {
    width: 10%;
    margin: 10px;
    border-width: 0px;
    border-radius: 6px;
    background-color: var(--accent-colour);
    font-size: 16px;
}

.grid-size-inputs {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}

.grid-conv-layer {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}


label {
    margin-bottom: 1px;

}